<fieldset style="border-width: 0px; padding: 30px 10%;">

  <h1 id="top" style="text-align:center; margin: 100px; font-size: 50px;"><em>Smart Home</em> </h1>
  <hr>
  <div style="text-align:center;">

    <h3>
      Camera system
    </h3>
    <div class="cams">
      <div>
        <p>
          Having the best video surveillance system protecting your property not only provides evidence in the event of
          a
          crime but also deters criminal activity in the first place and increases the safety of your employees and
          customers. A video surveillance system / CCTV is composed of a system of cameras, monitors/display units, and
          recorders.
          Cameras may be either analog or digital with a host of possible design features which will be discussed
          momentarily.
        </p>

        <p>
          These systems can be applied to both interior and exterior areas of a building or property. They can operate
          24/7,
          can be designed to only record in response to movement, or set to record during specific times of the day. The
          cameras may be conspicuous and out in the open to deter crime, or they can be more hidden and discreet to
          record evidence with fewer chances of being tampered with. However, it is essential to note that laws regulate
          the
          placement of security cameras within the workplace. These laws vary from state to state, so be sure to contact
          your state’s labor agency to learn what your restrictions are.Footage can be monitored live by a security
          guard,
          monitored remotely if using an IP camera and system (more on
          that in a moment) by a monitoring company, or can simply be recorded and stored by a DVR (digital video
          recorder)
          or NVR (network video recorder) for review later should the need arise.
        </p>

        <p>
          Finally, video surveillance systems are closed – this means its signals are not broadcast so that others could
          intercept and view the content. Only authorized users can access the recorded material.
        </p>
      </div>
      <img style="margin: auto;"
        src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/201206/20120604171958-0_0.jpg?itok=AShT309-"
        alt="" srcset="">
    </div>



  </div>
  <hr>
  <div id="door" class="doors" style="text-align:center;">
    <h3>
      Doors/Locks
    </h3>
    <p style="text-align: justify;">
      A smart lock is an electronic and mechanical locking device that opens wirelessly with an authorized users’
      authentication.

      In a smart home, smart locks allow a homeowner to enter their home or provide others access without requiring a
      traditional key. Instead, the user uses their smartphone or a key fob to wirelessly verify and mechanically unlock
      the door. Smart locks are an extension of home automation into home security. As a connected device, smart locks
      can be considered a part of the internet of things (IoT).
    </p>
    <h4>Your door is: <em style="color:green ;">Locked</em></h4>
  </div>
  <hr>
  <!-- home assistant -->
  <div class="assistant" style="text-align: center;">
    <h3>
      Home Assistant, like:Alexa
    </h3>
    <p style="text-align: justify;">
      The use of smart assistants in the workplace is a trend that’s beginning to take off. Once used exclusively to
      automate and manage homes, smart assistants are increasingly seen as helpful in the workplace. As people become
      accustomed to controlling devices by voice at home, they expect to do the same thing at work with smart office
      assistants.

      <table style="    margin: auto;
        text-align: left;">

        <tr>
          <th>Commands</th>
          <th>Answer</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Hi Alexa</td>
          <td>Hi, what do you want?</td>
          <td> 10/10/2020 - 10:30</td>
        </tr>
        <tr>
          <td>What time is it</td>
          <td>It's twelve thirty-four</td>
          <td> 10/10/2020 - 11:34</td>
        </tr>
        <tr>
          <td>How is the weather?</td>
          <td>It's cloudy</td>
          <td> 11/10/2020 - 14:22</td>
        </tr>

      </table>
  </div>
  <hr>
  <!-- smart refrigerator -->
  <div class="refrigerator" style="text-align: center;">
    <h3>Smart Refrigerator</h3>
    <p>A smart refrigerator is a high-tech programmed refrigerator that is able to detect the type of items stored in it
      and keep track of important details such as expiry and usage. These refrigerators work on a barcode or RFID system
      whereby they collect the batch and manufacture detail directly from the Internet.

      A smart refrigerator is also known as an Internet refrigerator.</p>
    <div class="grid3">
      <div class="grid3Item">
        <h4>Your refrigerator door is: <h4 style="color:green ; ">closed</h4>
        </h4>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="grid3Item">
        <h4>Your refrigerator Temperature is</h4>
        <h3>8 C</h3>
      </div>

    </div>
  </div>
  <hr>
  
</fieldset>
<div class="homeBtn">
  <a class="nav-link " href="">
    <button class="btn btn-primary btn-lg col-12 ">Home</button>
  </a>
</div>
